      @@@
      @@@        This is a Jenkins host

    @ @@@ @      This system is controlled by
    @ @@@ @      CFEngine {{{vars.sys.cf_version}}}
    @ @@@ @
    @     @
      @@@
      @ @        * Jenkins http://192.168.56.20:8080
      @ @        * Mission Portal https://192.168.56.20:443
      @ @

